/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    macros {
      ZMK_MACRO(jonathan,
        wait-ms = <10>;
        tap-ms = <5>;
        
        bindings 
          = <&macro_press &kp LSHFT>
          , <&macro_tap &kp J>
          , <&macro_release &kp LSHFT>
          , <&macro_tap &kp O &kp N &kp A &kp T &kp H &kp A &kp N>
          ; 
      )
    };
    keymap {
        compatible = "zmk,keymap";
 
        default_layer {
            bindings = <  
                &kp LS(LG(A))
                &kp LS(LG(V))
/*                &bt BT_CLR
                &jonathan
                &out OUT_BLE
                &bt BT_SEL 0
                &bt BT_NXT
*/
            >;
        };
    };
};
